{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load display_product_tags %}
{% load staticfiles %}

{% block product %}
    <article class="product_pod">
        {% block product_image %}
            <div class="image_container">
                {% with image=product.primary_image %}
                    {% thumbnail image.original "x400" upscale=False as thumb %}
                    <a href="{{ product.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ product.get_title }}"></a>
                    {% endthumbnail %}
                {% endwith %}
            </div>
        {% endblock %}

        <div class="product_info">
        {% block product_title %}
        {% get_product_cat product as category %}
            <p class="product-title"><a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}">{{category|truncatewords:3}} - {{product.get_title|truncatewords:4}}</a></p>
        {% endblock %}

        {% block product_price %}
            <div class="product_price">
                {% include "catalogue/partials/stock_record.html" %}
                {% if not product.is_parent %}
                    {% include "catalogue/partials/add_to_basket_form_compact.html" %}
                {% endif %}
            </div>
        {% endblock %}
        </div>
    </article>
{% endblock %}